@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Home {
  color: white;
  text-align: left;

  .MainTitle, .Subtitles {
    @extend .Titles;
    text-align: left;
    font-weight: 600;
    font-size: 3vw;
    margin-left: 20px;
    text-shadow: 0 0 3px #323236;
    margin-bottom: 20px;
  }

  .Subtitles {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .PastEvent {
    margin-left: 10px;
    font-size: 2vw;
  }

  .UpcomingEvent {
    margin-left: 10px;
    font-size: 2vw;
  }

  .LiveEvent {
    margin-left: 10px;
    color: #e44a4a;
    animation: LiveAnimation 1s infinite alternate;
    display: flex;
    place-items: center;
  }

  @keyframes LiveAnimation {
    0% {
      color: #e44a4a;
    }
    100% {
      color: #ce1616;
      text-shadow: 0 0 10px #7e1717;
    }
  }

  .EventList {
    margin-bottom: 35px;
    margin-left: 20px;

    .NoEventsContainer {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;

      .NoEventText {
        @extend .Text;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 10px;
      }

      .NoEventIcon {
        width: 50px;
        height: 50px;
        margin-left: 50px;
      }
    }
  }

  .Event {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 99, 99);
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;

    .EventTitle {
      @extend .Titles;
    }
  }

  .BodyAndFilters {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;

    .BodyContainer {
      display: flex;
      flex-direction: column;
      margin-right: 5px;
    }

    .CreateContainer {
      @extend .GlassSurface-01;
      border-radius: 10px;
      height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 18px;
    }
  }
}

.Home-Theme_01 {
  @extend .Home;

  .MainTitle-Theme_01 {
    @extend .MainTitle;
    color: white;
  }
  .Subtitles-Theme_01 {
    @extend .Subtitles;
    color: white;
  }
  .NoEventText-Theme_01 {
    @extend .NoEventText;
    color: white;
  }
  .NoEventIcon-Theme_01 {
    @extend .NoEventIcon;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(329deg) brightness(107%) contrast(101%);
  }
}

.Home-Theme_02 {
  @extend .Home;

  .MainTitle-Theme_02 {
    @extend .MainTitle;
    color: #323236;
    text-shadow: none;
  }
  .Subtitles-Theme_02 {
    @extend .Subtitles;
    color: #323236;
    text-shadow: none;
  }
  .NoEventText-Theme_02 {
    @extend .NoEventText;
    color: #323236;
    text-shadow: none;
  }
  .NoEventIcon-Theme_02 {
    @extend .NoEventIcon;
    color: #323236;
  }
}

.Home-Theme_03 {
  @extend .Home;

  .MainTitle-Theme_03 {
    @extend .MainTitle;
    color: white;
  }
  .Subtitles-Theme_03 {
    @extend .Subtitles;
    color: white;
  }
  .NoEventText-Theme_03 {
    @extend .NoEventText;
    color: white;
  }
  .NoEventIcon-Theme_03 {
    @extend .NoEventIcon;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(329deg) brightness(107%) contrast(101%);
  }
}
