@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Home {
  color: white;
  text-align: left;

  .MainTitle, .Subtitles {
    @extend .Titles;
    text-align: left;
    font-weight: 600;
    font-size: 3vw;
    margin-left: 20px;
    text-shadow: 0 0 3px $dark1;
    margin-bottom: 20px;
  }

  .Subtitles {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .LiveEvent {
    color: #e44a4a;
    animation: LiveAnimation 1s infinite alternate;
  }

  @keyframes LiveAnimation {
    0% {
      color: #e44a4a;
    }
    100% {
      color: #ce1616;
      text-shadow: 0 0 10px #7e1717;
    }
  }

  .EventList {
    margin-bottom: 35px;
    margin-left: 20px;
  }

  .Event {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 99, 99);
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;

    .EventTitle {
      @extend .Titles;
    }
  }
}

.Home-Theme_01 {
  @extend .Home;

  .MainTitle-Theme_01 {
    @extend .MainTitle;
    color: white;
  }
  .Subtitles-Theme_01 {
    @extend .Subtitles;
    color: white;
  }
}

.Home-Theme_02 {
  @extend .Home;

  .MainTitle-Theme_02 {
    @extend .MainTitle;
    color: $dark1;
    text-shadow: none;
  }
  .Subtitles-Theme_02 {
    @extend .Subtitles;
    color: $dark1;
    text-shadow: none;
  }
}

.Home-Theme_03 {
  @extend .Home;

  .MainTitle-Theme_03 {
    @extend .MainTitle;
    color: white;
  }
  .Subtitles-Theme_03 {
    @extend .Subtitles;
    color: white;
  }
}
