@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Learning {

  .LearningTitle {
    @extend .Text;
    text-align: left;
    font-weight: 600;
    font-size: 3vw;
  }

  .LearningSubtitle {
    @extend .Text;
    text-align: left;
    font-weight: 500;
    font-size: 1.3vw;
  }

  .BodyAndFilters {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;

    .BodyContainer {
      display: flex;
      flex-direction: column;
      margin-right: 5px;

      .Category {
        width: 100%;
        margin-bottom: 20px;

        .CategoryTitleContainer {
          text-align: left;
          margin-top: 30px !important;

          .CategoryTitle {
            @extend .Text;
            font-size: 2rem !important;
            font-weight: 500 !important;
          }
        }

        .LearningCardList {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .FiltersContainer {
      padding-top: 77px;

      .CreateContainer {
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        height: 100px;
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }
}

.Learning-Theme_01 {
  @extend .Learning;
  .LearningTitle, .LearningSubtitle {
    text-shadow: 0 0 3px #323236;
  }
  .Category {
    color: $textPrimary;
  }
  .CreateButton {
    @extend .GenericButton-Theme_01;
    @extend .ComponentSurface-Theme_01;
  }
  .CreateContainer-Theme_01 {
    @extend .CreateContainer;
    @extend .ComponentSurface-Theme_01;
  }
}

.Learning-Theme_02 {
  @extend .Learning;
  .LearningTitle, .LearningSubtitle {
    text-shadow: 0 0 3px #c3cfe2;
    color: #323236;
  }
  .Category {
    color: #323236;
  }
  .CreateButton {
    @extend .GenericButton-Theme_02;
    @extend .ComponentSurface-Theme_02;
  }
  .CreateContainer-Theme_02 {
    @extend .CreateContainer;
    @extend .ComponentSurface-Theme_02;
  }
}

.Learning-Theme_03 {
  @extend .Learning;
  .LearningTitle, .LearningSubtitle {
    text-shadow: 0 0 3px #323236;
    color: $textPrimary;
  }
  .Category {
    color: $textPrimary;
  }
  .CreateButton {
    @extend .GenericButton-Theme_03;
    @extend .ComponentSurface-Theme_03;
  }
  .CreateContainer-Theme_03 {
    @extend .CreateContainer;
    @extend .ComponentSurface-Theme_03;
  }
}