@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Learning {
  padding: 24px;
  border-radius: 10px;

  .LearningTitle,
  .LearningSubtitle {
    @extend .Titles;
    text-align: left;
    font-weight: 600;
    font-size: 3vw;
    text-shadow: 0 0 3px #323236;
  }

  .LearningSubtitle {
    font-weight: 500;
    font-size: 1.3vw;
  }

  .BodyAndFilters {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;

    .BodyContainer {
      display: flex;
      flex-direction: column;
      padding-right: 15px;

      .NoArticlesContainer {
        display: flex;
        align-items: center;
        margin-top: 50px;

        .NoArticlesIcon {
          margin-right: 10px;
          font-size: 60px;
        }
        .NoArticles {
          @extend .Text;
          text-align: left;
          font-weight: 500;
          font-size: 1.3vw;
        }
      }

      .Category {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0 !important;

        .CategoryTitleContainer {
          text-align: left;
          padding-left: 0;

          .CategoryTitle {
            @extend .Titles;
            font-size: 2rem !important;
            font-weight: 500 !important;
          }
        }

        .LearningCardList {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;
        }
      }
    }

    .FiltersContainer {
      padding-top: 60px;

      .CreateContainer {
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        height: 100px;
        align-items: center;
        margin-bottom: 15px;
      }
    }
  }
}

.Learning-Theme_01 {
  @extend .Learning;
  @extend .ComponentSurface-Theme_01;

  .LearningTitle,
  .LearningSubtitle {
    text-shadow: 0 0 3px #323236;
  }
  .Category,
  .NoArticles,
  .NoArticlesIcon {
    color: $textPrimary;
  }
  .CreateButton {
    @extend .GenericButton-Theme_01;
    @extend .ComponentSurface-Theme_01;
  }
  .CreateContainer {
    @extend .ComponentSurface-Theme_01;
  }
}

.Learning-Theme_02 {
  @extend .Learning;
  @extend .ComponentSurface-Theme_02;

  .LearningTitle,
  .LearningSubtitle {
    text-shadow: 0 0 3px #c3cfe2;
    color: #323236;
  }
  .Category,
  .NoArticles,
  .NoArticlesIcon {
    color: #323236;
  }
  .CreateButton {
    @extend .GenericButton-Theme_02;
    @extend .ComponentSurface-Theme_02;
  }
  .CreateContainer {
    @extend .ComponentSurface-Theme_02;
  }
}

.Learning-Theme_03 {
  @extend .Learning;
  @extend .ComponentSurface-Theme_03;

  .LearningTitle,
  .LearningSubtitle {
    text-shadow: 0 0 3px #323236;
    color: $textPrimary;
  }
  .Category,
  .NoArticles,
  .NoArticlesIcon {
    color: $textPrimary;
  }
  .CreateButton {
    @extend .GenericButton-Theme_03;
    @extend .ComponentSurface-Theme_03;
  }
  .CreateContainer {
    @extend .ComponentSurface-Theme_03;
  }
}
