@import "../../../Utils/StyleClasses.scss";
@import "../../../Utils/ColorVariables.scss";

.LearningArticleRead {
  display: flex;
  flex-direction: column;
  height: 100%;

  .TitlesAndPreviewContainer,
  .MarkdownPreviewContainer,
  .ReadModeAboutContainer,
  .AuthorContainer {
    display: flex;
    border-radius: 10px;
    padding: 20px;
  }

  .TitlesAndPreviewContainer {
    flex-direction: row;

    .Preview {
      width: 250px;
      height: 250px;
      border-radius: 5px;
      margin-right: 30px;
    }

    .RightTextContainer {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: space-between;

      .Title {
        @extend .Text;
        font-size: 3rem;
      }
      .Subtitle {
        @extend .Text;
        font-size: 1.75rem;
      }
    }

    .CategoryContainer,
    .TagsListContainer,
    .CreatedAtContainer,
    .ModifiedAtContainer {
      display: flex;
      .CategoryTitle,
      .TagTitle,
      .CreatedAtTitle,
      .ModifiedAtTitle {
        @extend .Text;
        font-weight: 600;
        margin-right: 5px;
        font-size: 1.25rem;
      }
      .Category,
      .Tag,
      .CreatedAt,
      .ModifiedAt {
        @extend .Text;
        font-size: 1.25rem;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
      .Tag {
        margin-right: 10px;
      }
    }
  }

  .ActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    .Action {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      margin-right: 10px;
      .ActionIcon {
        margin-right: 10px;
      }
      .ActionText {
        @extend .Text;
        font-size: 1.25rem;
      }
    }
  }

  .MarkdownPreviewContainer {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    // min-height: 60vh;
    font-size: 1.5rem;
    text-align: left;

    h1 {
      text-align: center;
      text-decoration: underline;
      margin-top: 10px;
    }

    h2 {
      text-decoration: underline;
    }

    blockquote {
      background-color: rgba(0, 0, 0, 0.1);
      border-left: 5px solid black;
      padding: 1px;
      padding-left: 20px;
      margin-left: 0px;
    }
  }

  .ReadModeAboutContainer {
    margin-top: 10px;
  }

}

.LearningArticleRead-Theme_01 {
  @extend .LearningArticleRead;
  @extend .TextColor-Theme_01;

  .TitlesAndPreviewContainer,
  .MarkdownPreviewContainer,
  .ReadModeAboutContainer,
  .AuthorContainer {
    @extend .ComponentSurface-Theme_01;
  }
}

.LearningArticleRead-Theme_02 {
  @extend .LearningArticleRead;
  @extend .TextColor-Theme_02;

  .TitlesAndPreviewContainer,
  .MarkdownPreviewContainer,
  .ReadModeAboutContainer,
  .AuthorContainer {
    @extend .ComponentSurface-Theme_02;
  }
}

.LearningArticleRead-Theme_03 {
  @extend .LearningArticleRead;
  @extend .TextColor-Theme_03;

  .TitlesAndPreviewContainer,
  .MarkdownPreviewContainer,
  .ReadModeAboutContainer,
  .AuthorContainer {
    @extend .ComponentSurface-Theme_03;
  }
}
