@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
$duration: 0.5s;

.Menu {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  transition: all 1s;
  position: sticky;
  top: calc(8vh + 15px);
  min-height: calc(100vh - 100px);
  height: auto;

  .MenuButtons {
    display: flex;
    flex-direction: column;
  }
  .Divider {
    background-color: rgba(255, 255, 255, 1);
    margin: 10px 0;
  }
  .MenuFooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .ArrowButton,
    .BugButton {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      cursor: pointer;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0;
      margin: 0;

      .Arrow {
        transition: transform 1s ease-in-out;
      }
      .Rotate {
        transform: rotate(180deg);
      }
      .BugIcon {
        width: 100% !important;
      }
    }
  }
}

.Menu-Theme_01 {
  @extend .Menu, .ComponentSurface-Theme_01;

  .ArrowButton,
  .BugButton {
    @extend .ArrowButton, .ButtonSurface-Theme_01;
  }
}

.Menu-Theme_02 {
  @extend .Menu, .ComponentSurface-Theme_02;

  .ArrowButton,
  .BugButton {
    @extend .ArrowButton, .ButtonSurface-Theme_02;
  }
}

.Menu-Theme_03 {
  @extend .Menu, .ComponentSurface-Theme_03;

  .ArrowButton,
  .BugButton {
    @extend .ArrowButton, .ButtonSurface-Theme_03;
  }
}

.MuiTooltip-tooltip {
  background-color: rgb(216, 81, 182) !important;
  font-weight: bold !important;
  font-size: 12px !important;
  padding: 10px !important;
}

.MuiTooltip-arrow {
  color: rgb(216, 81, 182) !important;
}
