@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.UserCard {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 400px;
  gap: 15px;

  .ProfilePicture {
    border-radius: 10px;
    width: 200px;
  }

  .UserName {
    @extend .Titles;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
  }

  .Subtitle {
    @extend .Titles;
    font-size: 14px;
  }

  .SkillChipsContainer {
    display: flex;
    justify-content: space-between;
  }

  .SkillChip {
    font-size: 13px;
    border-radius: 100px;
    padding: 5px 10px;
    margin: 0 5px;
  }
}

.UserCard:hover {
  transform: scale(1.02);
}

.UserCard-Theme_01 {
  @extend .UserCard;
  @extend .ComponentSurface-Theme_01;

  .ProfilePicture {
    @extend .ComponentSurface-Theme_01;
  }

  .UserName,
  .Subtitle,
  .SocialMediaButton {
    @extend .TextColor-Theme_01;
  }
}

.UserCard-Theme_02 {
  @extend .UserCard;
  @extend .ComponentSurface-Theme_02;

  .ProfilePicture {
    @extend .ComponentSurface-Theme_02;
  }

  .UserName,
  .Subtitle,
  .SocialMediaButton {
    @extend .TextColor-Theme_02;
  }
}

.UserCard-Theme_03 {
  @extend .UserCard;
  @extend .ComponentSurface-Theme_03;

  .ProfilePicture {
    @extend .ComponentSurface-Theme_03;
  }

  .UserName,
  .Subtitle,
  .SocialMediaButton {
    @extend .TextColor-Theme_03;
  }
}
