@import '../../Utils/ColorVariables.scss';
@import '../../Utils//StyleClasses.scss';

.PDropdownButton {

  position: relative;
  border-radius: 5px;
  margin: 0 10px;

  .ButtonBase {
    width: 50px !important;
    height: 50px !important;

    .ButtonImage {
      width: 35px !important;
      height: 35px !important;
    }
  }

  .DropdownContent {
    right: 0;
    position: absolute;
    overflow: auto;
    min-width: 175px;
    text-align: left;
    margin-top: 15px;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 0 8px 2px rgba(black, 0.25);
  }
}

.PDropdownButton-Theme_01 {
  @extend .PDropdownButton;
  background: linear-gradient(to bottom, rgb(59, 59, 61), rgba(0, 0, 0, 0.596)), radial-gradient(at top center, rgb(188, 192, 201) 0%, rgba(0, 0, 0, 0.514) 120%) #818286;
  background-blend-mode: multiply,multiply;
  .DropdownIcon {
    color: rgb(199, 201, 212);
  }
}

.PDropdownButton-Theme_02 {
  @extend .PDropdownButton;
  background-image: linear-gradient(-45deg, #dcdce4, #c5c7ce);
  box-shadow: inset 0 0 8px 2px rgba(black, 0.25);
  .DropdownIcon {
    color: #323236;
  }
}

.PDropdownButton-Theme_03 {
  @extend .PDropdownButton;
  background-image: linear-gradient(-45deg, #1b6ae1, #db72e9);
  box-shadow: inset 0 0 8px 2px rgba(black, 0.35);
  .DropdownIcon {
    color: white;
  }
}