@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PDropzone {
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
  }
  .inside {
    background-color: #feb940;
  }
  .outside {
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 3px);
  }
  .previewImg {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .hideImg {
    display: none;
  }

  .ErrorText {
    @extend .Text;
    font-weight: 700;
    color: #e93b3b;
    text-shadow: 0 0 3px #000000;
  }

  .Placeholder {
    width: 250px;
    margin-bottom: 25px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .HideImg {
    display: none !important;
  }

  .PlaceholderIcon {
    font-size: 250px;
  }

  .HelpText {
    @extend .Text;
    font-size: 1.2rem;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
  }

  .FileSelectionButton {
    @extend .Text;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
  }
}

.PDropzone-Theme_01 {
  @extend .PDropzone;
  .HelpText, .PlaceholderIcon {
    color: white;
  }
  .FileSelectionButton {
    color: white;
    @extend .GenericButton-Theme_01;
    @extend .ComponentSurface-Theme_01;
  }
}

.PDropzone-Theme_02 {
  @extend .PDropzone;
  .HelpText, .PlaceholderIcon {
    color: #2c2d36;
  }
  .FileSelectionButton {
    color: #2c2d36;
    @extend .GenericButton-Theme_02;
  }
}

.PDropzone-Theme_03 {
  @extend .PDropzone;
  .HelpText, .PlaceholderIcon {
    color: white;
  }
  .FileSelectionButton {
    color: white;
    @extend .GenericButton-Theme_03;
    text-shadow: 0 0 2px #323236;
  }
}
