@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PDropzone {
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
  }
  .inside {
    background-color: #feb940;
  }
  .outside {
    // background-color: #edeff9;
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 3px);
  }
  .previewImg {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .hideImg {
    display: none;
  }

  .ErrorText {
    @extend .Text;
    font-weight: 700;
    color: #e93b3b;
    text-shadow: 0 0 3px #000000;
  }

  .Placeholder {
    width: 100px;
    margin-bottom: 25px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .HelpText {
    @extend .Text;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
    color: black;
  }

  .FileSelectionButton {
    @extend .Text;
    font-weight: 600;
    text-transform: none;
    color: black;
    background-color: #feb940;
  }
}
