@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PCollapsableButton {
  cursor: pointer;
  position: relative;
  // text-shadow: 0 0 3px $dark1;
  font-size: 15px !important;
  transition: all 1s;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .IconContainer {
    width: 40%;
  }
  .IconClose {
    width: 100%;
  }

  .TextContainer {
    width: 60%;
    text-align: left;
    opacity: 1;
    .CollapsableButtonText {
      @extend .Text;
      font-weight: 600;
    }
  }
  .TextClose {
    display: none;
  }
}

.Open {
  width: 100%;
}
.Closed {
  border-radius: 100px !important;
}

.PCollapsableButton-Theme_01 {
  @extend .PCollapsableButton, .ButtonSurface-Theme_01;
}

.PCollapsableButton-Theme_02 {
  @extend .PCollapsableButton, .ButtonSurface-Theme_02;
}

.PCollapsableButton-Theme_03 {
  @extend .PCollapsableButton, .ButtonSurface-Theme_03;
}

// .PCollapsableButton:hover {
//   @extend .ButtonSurface-Theme_03;
// }
