@import "../../../Utils/StyleClasses.scss";
@import "../../../Utils/ColorVariables.scss";

.LearningArticleWriteScreen {
  .ArticleInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .ArticleInfoContainer,
  .ActionButtons {
    border-radius: 10px;
    padding: 35px;
  }

  .ActionButtons {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .TextInputContainer {
    width: calc(50% - 5px);
  }

  .ArticlePreviewTitle {
    @extend .Text;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
  }

  .EditPreviewContainer {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    height: calc(92vh - 25px);
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;

    .EditColumn {
      .MarkdownInputContainer {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;

        .MarkdownInput {
          @extend .Text;
          line-height: 1.5;
          font-weight: 500;
          box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3) 1px,
            rgba(0, 0, 0, 0.3) 2px,
            rgba(0, 0, 0, 0.3) 3px
          );
          border-radius: 5px;
          overflow-y: auto;
          font-size: 1rem;
          padding: 20px;
          width: 90%;
          height: 100%;
          resize: none;
          outline: none;
          border: none;
        }
      }
    }

    .PreviewColumn {
      .MarkdownPreviewContainer {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        text-align: left;

        .MarkdownPreview {
          @extend .Text;
          font-weight: 500;
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3) 1px,
            rgba(0, 0, 0, 0.3) 2px,
            rgba(0, 0, 0, 0.3) 3px
          );
          border-radius: 5px;
          overflow-y: auto;
          padding: 20px;
          width: 90%;
          height: 100%;

          pre {
            padding: 10px 20px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            background-color: #de7df834;
            border-radius: 5px;
            width: fit-content;
            min-width: calc(100% - 40px);
            code {
              font-size: 1rem;
              font-weight: 600;
              white-space: pre-wrap;
              font-family: monospace !important;
              line-height: 1.5rem;
            }
          }
        }
      }
    }

    .Title {
      @extend .Text;
      font-size: clamp(10px, 2vw, 2.3rem);
      line-height: 1.5vw;
      margin-bottom: 10px;
      font-weight: 800;
    }
  }

  .ActionButtons {
    .ButtonGroup {
      margin: 0 10px;
    }
  }
}

.LearningArticleWriteScreen-Theme_01 {
  @extend .LearningArticleWriteScreen;

  .ArticleInfoContainer,
  .ActionButtons {
    @extend .ComponentSurface-Theme_01;
  }

  .ArticlePreviewTitle {
    @extend .TextColor-Theme_01;
  }

  .EditPreviewContainer {
    @extend .ComponentSurface-Theme_01;

    .Title {
      text-shadow: 0 0 3px #323236;
    }
    .MarkdownInput,
    .MarkdownPreview {
      @extend .TextColor-Theme_01;
      pre {
        background: linear-gradient(-45deg, #949494, #7a7a7a);
        code {
          @extend .TextColor-Theme_01;
        }
      }
    }
  }

  .ActionButtons {
    .ButtonGroup {
      .ControlButton {
        @extend .GenericButton-Theme_01;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .ControlButtonTxt {
        @extend .GenericButton-Theme_01;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 200px;
      }
    }
  }
}

.LearningArticleWriteScreen-Theme_02 {
  @extend .LearningArticleWriteScreen;

  .ArticleInfoContainer,
  .ActionButtons {
    @extend .ComponentSurface-Theme_02;
  }

  .ArticlePreviewTitle {
    @extend .TextColor-Theme_02;
  }

  .EditPreviewContainer {
    border: 1px solid rgba(#969696, 1);
    background-image: linear-gradient(-45deg, #f5f7fa, #c3cfe2);
    .Title {
      @extend .TextColor-Theme_02;
      text-shadow: 0 0 3px #c3cfe2;
    }
    .MarkdownInput,
    .MarkdownPreview {
      @extend .TextColor-Theme_02;
      pre {
        background-image: linear-gradient(-45deg, #f5f7fa, #c3cfe2);
        code {
          @extend .TextColor-Theme_02;
        }
      }
    }
  }

  .ActionButtons {
    .ButtonGroup {
      .ControlButton {
        @extend .GenericButton-Theme_02;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .ControlButtonTxt {
        @extend .GenericButton-Theme_02;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 200px;
      }
    }
  }
}

.LearningArticleWriteScreen-Theme_03 {
  @extend .LearningArticleWriteScreen;

  .ArticleInfoContainer,
  .ActionButtons {
    @extend .ComponentSurface-Theme_03;
  }

  .ArticlePreviewTitle {
    @extend .TextColor-Theme_03;
  }

  .EditPreviewContainer {
    @extend .ComponentSurface-Theme_03;
    .Title {
      @extend .TextColor-Theme_03;
    }
    .MarkdownInput,
    .MarkdownPreview {
      @extend .TextColor-Theme_03;
      pre {
        background-image: linear-gradient(-45deg, #8ec5fc, #e0c3fc);
        code {
          @extend .TextColor-Theme_03;
          text-shadow: 0 0 2px #323236;
        }
      }
    }
  }

  .ActionButtons {
    .ButtonGroup {
      .ControlButton {
        @extend .GenericButton-Theme_03;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .ControlButtonTxt {
        @extend .GenericButton-Theme_03;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 200px;
      }
    }
  }
}
