@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.EventCreationScreen {
  .EventInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .EventInfoContainer,
  .ActionButtons {
    border-radius: 10px;
    padding: 35px;
  }

  .ActionButtons {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .TextInputContainer {
    width: calc(50% - 5px);
  }

  .EventCategoryTitle,
  .EventTagTitle,
  .EventPreviewTitle {
    @extend .Text;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 1.3rem;
  }

  .ActionButtons {
    .ButtonGroup {
      margin: 0 10px;
      .ControlButton {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .ControlButtonTxt {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 200px;
      }
    }
  }
}

.EventCreationScreen-Theme_01 {
  @extend .EventCreationScreen;

  .EventInfoContainer,
  .ActionButtons,
  .ControlButton,
  .ControlButtonTxt {
    @extend .ComponentSurface-Theme_01;
  }

  .EventCategoryTitle,
  .EventTagTitle,
  .EventPreviewTitle {
    color: white;
  }
}

.EventCreationScreen-Theme_02 {
  @extend .EventCreationScreen;

  .EventInfoContainer,
  .ActionButtons,
  .ControlButton,
  .ControlButtonTxt {
    @extend .ComponentSurface-Theme_02;
  }

  .EventCategoryTitle,
  .EventTagTitle,
  .EventPreviewTitle {
    color: #2c2d36;
  }
}

.EventCreationScreen-Theme_03 {
  @extend .EventCreationScreen;

  .EventInfoContainer,
  .ActionButtons,
  .ControlButton,
  .ControlButtonTxt {
    @extend .ComponentSurface-Theme_03;
  }

  .EventCategoryTitle,
  .EventTagTitle,
  .EventPreviewTitle {
    color: white;
  }
}
