@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.People {
  display: flex !important;
  flex-direction: row !important;
  padding: 24px !important;
  border-radius: 10px;
  height: 100%;
  gap: 10px;

  .Title {
    @extend .Titles;
    font-size: 24px;
  }

}

.People-Theme_01 {
  @extend .People;
  @extend .ComponentSurface-Theme_01;
}

.People-Theme_02 {
  @extend .People;
  @extend .ComponentSurface-Theme_02;
}

.People-Theme_03 {
  @extend .People;
  @extend .ComponentSurface-Theme_03;
}
