@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.LearningCard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  min-height: 180px;
  cursor: pointer;

  .CardTextContent {
    justify-content: space-between;
  }

  .LearningCardDivider {
    width: 1px;
    height: 100%;
    border: none;
    margin: 0;
  }

  .LearningCardPreview {
    width: 180px;
    height: 180px;
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
  }

  .LearningCardInfo,
  .LearningCardDescription {
    text-align: left;
  }

  .LearningCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(55% - 10px);
  }

  .LearningCardDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(45% - 10px);

    .MarkdownPreview {
      font-size: 10px !important;
      font-weight: 400 !important;
      margin: 0;
    }
  }

  .LearningCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-top: 10px;
  }

  .Title,
  .Subtitle,
  .Description,
  .ReadMore,
  .By,
  .Author {
    @extend .Text;
  }

  .Title {
    font-size: clamp(10px, 2vw, 2rem);
    line-height: clamp(10px, 2vw, 2rem);
    margin-bottom: 10px;
    font-weight: 800;
  }

  .Subtitle {
    font-weight: 500;
    font-size: clamp(8px, 1.3vw, 1.5rem);
    line-height: clamp(8px, 1.3vw, 1.5rem);
  }

  .Description,
  .ReadMore {
    font-weight: 500;
    font-size: 0.8vw;
    width: fit-content;
  }

  .ReadMore {
    margin: 5px 0;
  }

  .TagsContainer {
    display: flex;
    justify-content: flex-start;

    .Tag {
      width: fit-content;
      padding: 1px 5px;
      border-radius: 5px;
      margin-right: 5px;
      margin-top: 5px;

      .TagText {
        font-weight: 600;
      }
    }
  }

  .By,
  .Author {
    font-weight: 500;
    font-size: 0.8vw;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    margin-top: 5px;
  }

  .By {
    text-decoration: none;
  }
}

.LearningCard-Theme_01 {
  @extend .LearningCard, .ComponentSurface-Theme_01;
  .Title,
  .Subtitle,
  .Description,
  .By,
  .Author {
    text-shadow: 0 0 3px #323236;
    color: white;
  }
  .LearningCardDivider {
    background-color: #b8b8b859;
    box-shadow: 0 0 10px #1c1c1d;
  }
  .Tag {
    @extend .ComponentSurface-Theme_01;
    @extend .GenericButton-Theme_01;
  }
  .ReadMore {
    color: white;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}

.LearningCard-Theme_02 {
  @extend .LearningCard, .ComponentSurface-Theme_02;
  .Title,
  .Subtitle,
  .Description,
  .By,
  .Author {
    text-shadow: 0 0 3px #c3cfe2;
    color: #323236;
  }
  .LearningCardDivider {
    background-color: #323236;
  }
  .Tag {
    @extend .ComponentSurface-Theme_02;
    @extend .GenericButton-Theme_02;
  }
  .ReadMore {
    color: #323236;
    &:hover {
      border-bottom: 1px solid #323236;
    }
  }
}

.LearningCard-Theme_03 {
  @extend .LearningCard, .ComponentSurface-Theme_03;
  border: 1px solid rgba(255, 255, 255, 0.65);
  .Title,
  .Subtitle,
  .Description,
  .By,
  .Author {
    text-shadow: 0 0 2px #000000;
    color: white;
  }
  .LearningCardDivider {
    background-color: #bbbbbb;
    box-shadow: 0 0 10px #1c1c1d;
  }
  .Tag {
    @extend .ComponentSurface-Theme_03;
    @extend .GenericButton-Theme_03;
  }
  .ReadMore {
    color: white;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
