@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.LearningCard {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 180px;
  margin: 5px 0;
  cursor: pointer;

  .LearningCardPreview {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
  }

  .LearningCardTitles, .LearningCardDescription {
    text-align: left;
  }

  .LearningCardTitles {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .Title, .Subtitle, .Description, .By, .Author {
    @extend .Text;
  }

  .Title {
    font-size: min(max(10px, 2vw), 2.3rem);
    line-height: 1.5vw;
    margin-bottom: 10px;
    font-weight: 800;
  }

  .Subtitle {
    font-weight: 500;
    padding-right: 10px;
    font-size: 1.2vw;
    line-height: 1.2vw;
  }

  .Description {
    font-weight: 500;
    font-size: 0.8vw;
  }

  .By, .Author {
    font-weight: 500;
    font-size: 0.8vw;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
  }

  .By {
    text-decoration: none;
  }
}

.LearningCard-Theme_01 {
  @extend .LearningCard, .ComponentSurface-Theme_01;
  .Title, .Subtitle, .Description, .By, .Author {
    text-shadow: 0 0 3px $dark1;
  }
}

.LearningCard-Theme_02 {
  @extend .LearningCard, .ComponentSurface-Theme_02;
  .Title, .Subtitle, .Description, .By, .Author {
    text-shadow: 0 0 3px #c3cfe2;
    color: $dark0;
  }
}

.LearningCard-Theme_03 {
  @extend .LearningCard, .ComponentSurface-Theme_03;
  border: 1px solid rgba(255, 255, 255, 0.65);
  .Title, .Subtitle, .Description, .By, .Author {
    text-shadow: 0 0 2px #000000;
    color: white;
  }
}
