@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PChip {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  width: max-content;
  place-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
  flex-direction: row;
  display: flex;

  .CheckBox {
    margin-right: 10px;
    padding: 0;
  }

  .CheckBoxText {
    @extend .Text;
    font-weight: 500;
  }
}

.PChip-Theme_01 {
  @extend .PChip;
  @extend .ComponentSurface-Theme_01;
  @extend .GenericButton-Theme_01;
  .CheckBox {
    color: rgba(#c3cfe2, 0.85);
  }
}

.PChip-Theme_02 {
  @extend .PChip;
  @extend .ComponentSurface-Theme_02;
  @extend .GenericButton-Theme_02;
  color: #323236;
  .CheckBox {
    color: rgba(#323236, 1);
  }
}

.PChip-Theme_03 {
  @extend .PChip;
  @extend .ComponentSurface-Theme_03;
  @extend .GenericButton-Theme_03;
  color: white;
  .CheckBox {
    color: rgba(#323236, 0.7);
  }
}

.FilterCheck:hover {
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0 0 10px 0 rgba(31, 38, 135, 0.2);
  transform: scale(1.01);
}