@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Header {
  z-index: 1;
  height: calc(8vh + 5px);
  min-height: 69px;
  background: linear-gradient(to right, #303031, #232324);
  box-shadow: 0px 5px 5px rgba(#323236, 0.2);
  padding-right: 2rem;
  padding-left: 6.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  position: fixed;
  .HeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    .DT_CMS {
      font-size: 3rem;
      text-transform: none;
      letter-spacing: normal;
      color: $textPrimary;
      height: min-content;
      &:hover {
        background: none;
      }
    }
    .PSearchBar {
      margin-left: 7vw;
    }
    .ListTitle {
      font-size: 20px;
      text-align: left;
      font-weight: 100;
      padding: 0 20px;
    }

    .ListItem {
      padding: 10px;
      background-color: #5f636d;
      display: flex;
      flex-direction: row;
      align-items: center;

      .GradientPreview {
        width: 10px;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 0 0 5px rgba(black, 0.5);
      }

      .TextContainer {
        display: flex;
        flex-direction: column;
        font-weight: 100;
        .Title {
          text-overflow: ellipsis;
          text-shadow: 0 0 3px black;
        }
      }
    }

    .ListItem:hover {
      background-color: #323236;
    }
  }
}
