@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.Header {
  z-index: 1;
  display: flex;
  align-content: center;
  position: sticky;
  height: 80px;
  top: 0;

  border-right: none;
  border-left: none;
  border-top: none;

  .TitleContainer, .MenuContainer {
    display: flex;
    align-items: center;
  }

  .MenuContainer {
    justify-content: flex-end;
    padding-right: 10px;
  }

  .DT_CMS {
    padding: 0 60px;
    font-size: 45px;
    letter-spacing: normal;
    &:hover {
      background: none;
    }
  }

  .ListTitle {
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    padding: 0 20px;
  }

  .ListItem {
    padding: 10px;
    background-color: #5f636d;
    display: flex;
    flex-direction: row;
    align-items: center;

    .GradientPreview {
      width: 10px;
      height: 30px;
      border-radius: 5px;
      margin-right: 10px;
      box-shadow: 0 0 5px rgba(black, 0.5);
    }

    .TextContainer {
      display: flex;
      flex-direction: column;
      font-weight: 100;
      .Title {
        text-overflow: ellipsis;
        text-shadow: 0 0 3px black;
      }
    }

    &:hover {
      background-color: #323236;
    }
  }
}

.Header-Theme_01 {
  @extend .Header;
  @extend .ComponentSurface-Theme_01;

  .DT_CMS, .UserName, .Subtitle {
    @extend .TextColor-Theme_01;
  }
}

.Header-Theme_02 {
  @extend .Header;
  @extend .ComponentSurface-Theme_02;

  .DT_CMS, .UserName, .Subtitle {
    @extend .TextColor-Theme_02;
  }
}

.Header-Theme_03 {
  @extend .Header;
  @extend .ComponentSurface-Theme_03;

  .DT_CMS, .UserName, .Subtitle {
    @extend .TextColor-Theme_03;
  }
}
