// DARK COLORS
$dark0: #131313;
$dark1: #1f1e1e;
$dark2: #2e2c2e;
$dark3: #252425;
$dark4: #2c2a2c;
$dark5: #3a373a;
$dark6: #312e31;
$dark7: #3d3a3d;
$dark8: #403b41;
$dark9: #453f46;

// DARK WITH OPACITY
$darkOP0: #13131355;
$darkOP1: #1f1e1e55;
$darkOP2: #2e2c2e55;
$darkOP3: #25242555;
$darkOP4: #2c2a2c55;
$darkOP5: #3a373a55;
$darkOP6: #312e3155;
$darkOP7: #3d3a3d55;
$darkOP8: #403b4155;
$darkOP9: #453f4655;

// PRIMARY COLORS
$primary: #9e34eb;
$gradient1: #6140ce;
$gradient2: #15175d;

$glassTopLeft: #9856f2;
$glassBotRight: #6889ef;

$backgroundColor: #212248;
$headerColor: #171835;
// $elements: #47486e;

// TEXT COLORS
$textPrimary: #e3e3e3;
$textSecondary: #b3b3b3;
