// PRIMARY COLORS
$primary: #9e34eb;
$gradient1: #6140ce;
$gradient2: #15175d;

$glassTopLeft: #9856f2;
$glassBotRight: #6889ef;

$backgroundColor: #212248;
$headerColor: #171835;

// TEXT COLORS
$textPrimary: #e3e3e3;
$textSecondary: #b3b3b3;
