@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./ColorVariables.scss";

////////////////////
// GLASS SURFACES //
////////////////////

.GlassSurface-01 {
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.20);
  -webkit-backdrop-filter: blur(10.0px);
  backdrop-filter: blur(10.0px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.GlassSurface-02 {
  background: rgba(210, 210, 210, 0.30);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.20);
  -webkit-backdrop-filter: blur(10.0px);
  backdrop-filter: blur(15.0px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.GlassButton-01 {
  background: rgba(210, 210, 210, 0.20) !important;
  //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.20) !important;
  -webkit-backdrop-filter: blur(10.0px) !important;
  backdrop-filter: blur(10.0px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

/////////////////////
// GENERIC BUTTONS //
/////////////////////

.GenericButton {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  width: max-content;
  place-items: center;
  margin-bottom: 5px;
  flex-direction: row;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(black, 0.2);
  font-family: 'Montserrat';
  font-weight: 600;
  display: flex;
}

.GenericButton-Theme_01 {
  @extend .GenericButton;
  border: 1px solid rgba(#c3cfe2, 1) !important;
  color: white;
}

.GenericButton-Theme_02 {
  @extend .GenericButton;
  color: #323236;
  border: 1px solid #59595c !important;
  background-image: linear-gradient(-45deg, #f5f7fa, #c3cfe2);
}

.GenericButton-Theme_03 {
  @extend .GenericButton;
  color: white;
  background-image: linear-gradient(-45deg, #8EC5FC, #E0C3FC);
}

/////////////////////
// BUTTON SURFACES //
/////////////////////

.ButtonSurface-Theme_01 {
  color: white;
  text-shadow: 0 0 3px #323236;
  transition: border 10s !important;
  &:hover {
    background: linear-gradient(to bottom, #3b3b3d, rgba(0, 0, 0, 0.596)), radial-gradient(at top center, rgb(188, 192, 201) 0%, rgba(0, 0, 0, 0.514) 120%) #818286;
    background-blend-mode: multiply,multiply;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border: 1px solid rgba(184, 198, 218, 0.9);
    box-sizing: border-box;
  }
}

.ButtonSurface-Theme_02 {
  color: #323236 !important;
  &:hover {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    background-image: linear-gradient(45deg, #bccaec 0%, #e4efe9 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.58);
    box-sizing: border-box;
  }
}

.ButtonSurface-Theme_03 {
  color: white;
  text-shadow: 0 0 3px #323236;
  &:hover {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #323236 !important;
    text-shadow: none;
  }
}

////////////////////////
// COMPONENT SURFACES //
////////////////////////

.ComponentSurface-Theme_01 {
  background: linear-gradient(to bottom, rgb(167, 167, 172), rgba(0, 0, 0, 0.151)), radial-gradient(at top center, rgb(188, 192, 201) 0%, rgba(0, 0, 0, 0.514) 120%) #818286;
  background-blend-mode: multiply,multiply;
  box-shadow: 0 0 20px 0 rgba(16, 16, 19, 0.719);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ComponentSurface-Theme_02 {
  background-image: linear-gradient(183deg, #e6ebf3, #E9F1F4);
  box-shadow: 0 0 5px 1px rgba(67, 58, 92, 0.32);
  border: 1px solid rgba(37, 37, 39, 0.58);
}

.ComponentSurface-Theme_03 {
  background: linear-gradient(150deg, #9647F1 -5%, #6D80EF 80%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.20);
  border: 1px solid rgba(#c3cfe2, 1);
}
.ComponentSurface-Theme_03_2 {
  background: linear-gradient(150deg, #5a4ffa -5%, #8c45e9 120%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.20);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/////////////////////////
// REUTILIZABLE STYLES //
/////////////////////////

.Titles {
  font-family: 'Poppins' !important;
}

.Text {
  font-family: 'Montserrat' !important;
}

.FilterCheck:hover {
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0 0 10px 0 rgba(31, 38, 135, 0.2);
  transform: scale(1.01);
}

//////////////////////
// Neumorphic Style //
//////////////////////

$fg: #e3e4e8;
$shade1: #23252a;
$shade2: #3e424c;
$shade3: #4a4e5a;
$shade4: #686e7e;
$inputshade: #353942;

.NeumorphicSurface {
  border-radius: 10px;
  box-shadow:
    0.15em 0.15em 0.15em $shade4 inset,
    -0.15em -0.15em 0.15em $shade1 inset,
    1em 1em 2em $shade1,
    -1em -1em 2em $shade4;
}

.NaumorphicItem {
  border-radius: 0.5em;
  box-shadow:
    0.15em 0.15em 0.15em $shade4 inset,
    -0.15em -0.15em 0.15em $shade1 inset,
    0.25em 0.25em 0.5em $shade1,
    -0.25em -0.25em 0.5em $shade4;
}

