@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.EventCard {
  color: white;
  display: flex;
  margin-bottom: 10px;

  .ExpositorInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-width: 272px;
    width: fit-content;
    padding: 10px;
    margin: 0;

    .UserPhotoAndName {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .UserPhoto {
        width: 40px;
        border-radius: 100px;
      }
      .UserName {
        @extend .Titles;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .UserDesc {
      @extend .Titles;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .UserSocialMedia {
      display: flex;
      flex-direction: row;
      .SocialMediaButton {
        width: 50px;
        min-width: 0;
      }
    }
  }

  .EventInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    min-width: min(1000px, 35vw);
    height: 142px;
    margin: 0 10px;

    .EventInfoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .EventPreviewContainer {
      width: 120px;
      height: 120px;
      .EventPreview {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 7px;
      }
    }

    .EventDateContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 175px;
      .EventDate {
        @extend .Text;
        font-size: 4rem;
        font-weight: 800;
        line-height: 4rem;
      }
      .EventMonth {
        @extend .Text;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.3rem;
      }
    }

    .EventTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .EventTitle {
        @extend .Titles;
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .EventDesc {
        @extend .Titles;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
      }
    }

    .EventActions {
      display: flex;
      flex-direction: row;
      height: 120px;
      width: 120px;
      .EventButton {
        width: 100%;
        height: 100%;
        border-radius: 7px;
      }
    }
  }
}


.EventCard-Theme_01 {
  @extend .EventCard;

  .ExpositorInfo-Theme_01 {
    @extend .ExpositorInfo, .ComponentSurface-Theme_01;
  }
  .EventInfo-Theme_01 {
    @extend .EventInfo, .ComponentSurface-Theme_01;
  }

  // User Info
  .UserName-Theme_01 {
    @extend .UserName;
    color: lavenderblush;
  }
  .UserDesc-Theme_01 {
    @extend .UserDesc;
    color: lavenderblush;
  }

  // Event Dates
  .EventDate-Theme_01 {
    @extend .EventDate;
    color: lavenderblush;
  }
  .EventMonth-Theme_01 {
    @extend .EventMonth;
    color: lavenderblush;
  }

  // Event Info
  .MainTitle-Theme_01 {
    color: lavenderblush;
  }
  .EventTitle-Theme_01 {
    @extend .EventTitle;
    color: lavenderblush;
  }
  .EventDesc-Theme_01 {
    @extend .EventDesc;
    color: lavenderblush;
  }

  // Event Actions
  .SocialMediaButton-Theme_01 {
    @extend .SocialMediaButton;
    color: lavenderblush;
  }
  .EventButton-Theme_01 {
    @extend .EventButton;
    color: lavenderblush;
  }
}

.EventCard-Theme_02 {
  @extend .EventCard;

  .ExpositorInfo-Theme_02 {
    @extend .ExpositorInfo, .ComponentSurface-Theme_02;
    border: 1px solid rgba(133, 133, 133, 0.5);
  }
  .EventInfo-Theme_02 {
    @extend .EventInfo, .ComponentSurface-Theme_02;
    border: 1px solid rgba(133, 133, 133, 0.5);
  }

  // User Info
  .UserName-Theme_02 {
    @extend .UserName;
    color: $dark0;
  }
  .UserDesc-Theme_02 {
    @extend .UserDesc;
    color: $dark0;
  }

  // Event Dates
  .EventDate-Theme_02 {
    @extend .EventDate;
    color: $dark0;
  }
  .EventMonth-Theme_02 {
    @extend .EventMonth;
    color: $dark0;
  }

  // Event Info
  .MainTitle-Theme_02 {
    color: $dark0;
  }
  .EventTitle-Theme_02 {
    @extend .EventTitle;
    color: $dark0;
  }
  .EventDesc-Theme_02 {
    @extend .EventDesc;
    color: $dark0;
  }

  // Event Actions
  .SocialMediaButton-Theme_02 {
    @extend .SocialMediaButton;
    color: $dark0;
  }
  .EventButton-Theme_02 {
    @extend .EventButton;
    color: $dark0;
  }
}

.EventCard-Theme_03 {
  @extend .EventCard;

  .ExpositorInfo-Theme_03 {
    @extend .ExpositorInfo, .ComponentSurface-Theme_03_2;
  }
  .EventInfo-Theme_03 {
    @extend .EventInfo, .ComponentSurface-Theme_03_2;
  }

  // User Info
  .UserName-Theme_03 {
    @extend .UserName;
    color: lavenderblush;
  }
  .UserDesc-Theme_03 {
    @extend .UserDesc;
    color: lavenderblush;
  }

  // Event Dates
  .EventDate-Theme_03 {
    @extend .EventDate;
    color: lavenderblush;
  }
  .EventMonth-Theme_03 {
    @extend .EventMonth;
    color: lavenderblush;
  }

  // Event Info
  .MainTitle-Theme_03 {
    color: lavenderblush;
  }
  .EventTitle-Theme_03 {
    @extend .EventTitle;
    color: lavenderblush;
  }
  .EventDesc-Theme_03 {
    @extend .EventDesc;
    color: lavenderblush;
  }

  // Event Actions
  .SocialMediaButton-Theme_03 {
    @extend .SocialMediaButton;
    color: lavenderblush;
  }
  .EventButton-Theme_03 {
    @extend .EventButton;
    color: lavenderblush;
  }
}
