@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.EventCard {
  color: white;
  display: flex;
  gap: 10px;

  .ExpositorInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-width: 272px;
    width: fit-content;
    padding: 10px;
    margin: 0;

    .UserPhotoAndName {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .UserPhoto {
        width: 40px;
        border-radius: 100px;
      }
      .UserName {
        @extend .Titles;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .UserDesc {
      @extend .Titles;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .UserSocialMedia {
      display: flex;
      flex-direction: row;
      .SocialMediaButton {
        width: 50px;
        min-width: 0;
      }
    }
  }

  .EventInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    min-width: min(1000px, 35vw);
    height: 142px;

    .EventInfoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .EventPreviewContainer {
      width: 120px;
      height: 120px;
      .EventPreview {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 7px;
      }
    }

    .EventDateContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 225px;
      .EventDate {
        @extend .Text;
        font-size: 4rem;
        font-weight: 800;
        line-height: 4rem;
        text-align: center;
      }
      .EventMonth {
        @extend .Text;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.3rem;
        text-align: center;
      }
      .EventHour {
        @extend .Text;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
      }
    }

    .EventTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .EventTitle {
        @extend .Titles;
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .EventDesc {
        @extend .Titles;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
      }
    }

    .EventActions {
      display: flex;
      flex-direction: row;
      height: 120px;
      width: 120px;
      .EventButton {
        width: 100%;
        height: 100%;
        border-radius: 7px;
      }
    }
  }
}

.EventCard-Theme_01 {
  @extend .EventCard;

  .ExpositorInfo,
  .EventInfo {
    @extend .ComponentSurface-Theme_01;
  }

  .UserName,
  .UserDesc,
  .EventDate,
  .EventMonth,
  .EventHour,
  .MainTitle,
  .EventTitle,
  .EventDesc,
  .SocialMediaButton,
  .EventButton {
    @extend .TextColor-Theme_01;
  }
}

.EventCard-Theme_02 {
  @extend .EventCard;

  .ExpositorInfo,
  .EventInfo {
    @extend .ComponentSurface-Theme_02;
  }

  .UserName,
  .UserDesc,
  .EventDate,
  .EventMonth,
  .EventHour,
  .MainTitle,
  .EventTitle,
  .EventDesc,
  .SocialMediaButton,
  .EventButton {
    @extend .TextColor-Theme_02;
  }
}

.EventCard-Theme_03 {
  @extend .EventCard;

  .ExpositorInfo,
  .EventInfo {
    @extend .ComponentSurface-Theme_03_2;
  }

  .UserName,
  .UserDesc,
  .EventDate,
  .EventMonth,
  .EventHour,
  .MainTitle,
  .EventTitle,
  .EventDesc,
  .SocialMediaButton,
  .EventButton {
    @extend .TextColor-Theme_03;
  }
}
