@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PSearchBar {
  .SearchbarContainer {
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
  }

  .PSearchBarInput {
    @extend .Text;
    width: 400px;
    font-weight: 500;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 2px,
      rgba(0, 0, 0, 0.3) 3px
    );
    z-index: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    padding: 0.5rem;
    border: none;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    outline: none;
  }

  .SearchButton {
    height: 46px;
    width: 55px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 2px,
      rgba(0, 0, 0, 0.3) 3px
    );
    z-index: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
  }

  .SearchIcon {
    font-size: 35px;
  }

  .PSearchBarDropdownContent {
    position: absolute;
    min-width: 473px;
    max-width: 1000px;
    margin-top: 5px;
    border-radius: 10px;
    overflow: auto;
    z-index: 1;

    .PSearchBarListCategory {
      .PSearchBarListTitle {
        @extend .NoSelect;
        font-size: 20px;
        text-align: left;
        font-weight: 800;
        padding: 5px 20px;
      }

      .MenuItemList {
        padding: 12px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        .Thumbnails {
          width: 40px;
          height: 40px;
          border-radius: 100px;
        }

        .ImageContainer {
          display: flex;
          width: 80px;
        }

        .TextContainer {
          display: flex;
          flex-direction: column;
          text-align: left;
          .PSearchBarTitle {
            font-size: 20px;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: normal;
          }
          .PSearchBarSubtitle {
            font-size: 15px;
            font-weight: 200;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: normal;
          }
        }
      }

      .EmptyListItem {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .NoResult {
          @extend .NoSelect;
          @extend .Text;
          font-size: 1rem;
        }
        .NoResultIcon {
          font-size: 1.25rem;
        }
      }
    }
  }
}

.PSearchBar-Theme_01 {
  @extend .PSearchBar;

  .PSearchBarDropdownContent {
    box-shadow: 0 0 20px 0 rgba(16, 16, 19, 0.719);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .PSearchBarListTitle,
  .MenuItemList:hover {
    background-color: #35363b;
  }

  .MenuItemList {
    background-color: #404147;
  }

  .PSearchBarInput,
  .SearchButton {
    color: white;
    &::placeholder {
      color: #a3a3ac;
    }
  }

  .PSearchBarListTitle,
  .PSearchBarTitle,
  .PSearchBarSubtitle {
    color: white;
  }
}

.PSearchBar-Theme_02 {
  @extend .PSearchBar;

  .PSearchBarDropdownContent {
    box-shadow: 0 0 5px 1px rgb(67 58 92 / 32%);
    border: 1px solid rgba(37, 37, 39, 0.58);
  }

  .PSearchBarListTitle,
  .MenuItemList:hover {
    background-color: #d9dee6;
  }

  .MenuItemList {
    background-color: #e6ecf3;
  }

  .PSearchBarInput,
  .SearchButton {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1px,
      rgba(0, 0, 0, 0.1) 2px,
      rgba(0, 0, 0, 0.1) 3px
    );

    color: black;
    &::placeholder {
      color: #87878e;
    }
  }

  .PSearchBarListTitle,
  .PSearchBarTitle,
  .PSearchBarSubtitle {
    @extend .TextColor-Theme_02;
  }
}

.PSearchBar-Theme_03 {
  @extend .PSearchBar;

  .PSearchBarDropdownContent {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    border: 1px solid rgba(#c3cfe2, 1);
  }

  .PSearchBarListTitle,
  .MenuItemList:hover {
    background-color: #824af1;
  }

  .MenuItemList {
    background-color: #9647f1;
  }

  .PSearchBarInput,
  .SearchButton {
    color: white;
    &::placeholder {
      color: #a3a3ac;
    }
  }

  .PSearchBarListTitle,
  .PSearchBarTitle,
  .PSearchBarSubtitle {
    color: white;
  }
}
