@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PSearchBar {
  .Input {
    width: 400px;
    background-color: #323236;
    border-radius: 10px;
    height: 30px;
    padding: 0.5rem;
    border: none;
    position: relative;
    display: inline-block;
    color: $textPrimary !important;
    background-image: url("/Assets/icons/loupe.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 13px;
    background-size: 25px;
    padding-left: 50px;
    outline: none;
  }

  .DropdownContent {
    position: absolute;
    background-color: #323236;
    min-width: 160px;
    max-width: 600px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 7px 2px #323236;
    z-index: 1;

    .ListCategory {
      background-color: #323236;

      .ListTitle {
        font-size: 20px;
        text-align: left;
        font-weight: 100;
        padding: 0 20px;
      }

      .ListItem {
        padding: 10px 20px;
        background-color: #323236;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        .Thumbnails {
          width: 40px;
          height: 40px;
          border-radius: 100px;
        }

        .ImageContainer {
          display: flex;
          width: 80px;
        }

        .TextContainer {
          text-align: left;
          display: flex;
          flex-direction: column;
          font-weight: 100;
          .Title,
          .Subtitle,
          .Description {
            text-overflow: ellipsis;
          }
        }
      }
    }

    .ListItem:hover {
      background-color: #323236;
    }
  }
}
