@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PSearchBar {
  .SearchbarContainer {
    display: flex;
  }

  .Input {
    width: 400px;
    background-color: #323236;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    padding: 0.5rem;
    border: none;
    position: relative;
    display: inline-block;
    color: $textPrimary !important;
    padding-left: 10px;
    outline: none;
  }

  .SearchButton {
    height: 46px;
    width: 55px;
    background-color: #323236;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
  }

  .SearchIcon {
    font-size: 35px;
    color: $textPrimary;
  }

  .DropdownContent {
    position: absolute;
    background-color: #323236;
    min-width: 160px;
    max-width: 600px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 7px 2px #323236;
    z-index: 1;

    .ListCategory {
      background-color: #323236;

      .ListTitle {
        font-size: 20px;
        text-align: left;
        font-weight: 100;
        padding: 0 20px;
        background-color: #28282c;
      }

      .ListItem {
        padding: 10px 20px;
        background-color: #323236;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        .Thumbnails {
          width: 40px;
          height: 40px;
          border-radius: 100px;
        }

        .ImageContainer {
          display: flex;
          width: 80px;
        }

        .TextContainer {
          text-align: left;
          display: flex;
          flex-direction: column;
          font-weight: 100;
          .Title,
          .Subtitle {
            text-overflow: ellipsis;
          }
        }

        &:hover {
          background-color: #48484d;
        }
      }

      .EmptyListItem {
        background-color: #323236;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .NoResult {
          @extend .NoSelect;
          @extend .Text;
          font-size: 1rem;
        }
        .NoResultIcon {
          font-size: 1.25rem;
        }
      }
    }
  }
}
