@import "../../Utils/StyleClasses.scss";
@import "../../Utils/ColorVariables.scss";

.PFilters {
  border-radius: 10px;
  min-height: 500px;
  padding: 10px;
  font-weight: 500;

  .Divider {
    background-color: rgba(70, 68, 68, 0.349);
    margin: 10px 0;
  }

  .TableTitle, .FiltersTitle {
    @extend .Text;
    font-weight: 700;
  }

  .FiltersTitle {
    margin: 15px 0;
  }

  .FilterCheckContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.PFilters-Theme_01 {
  @extend .PFilters, .ComponentSurface-Theme_01;
}

.PFilters-Theme_02 {
  @extend .PFilters, .ComponentSurface-Theme_02;
  color: #3a393f;

}

.PFilters-Theme_03 {
  // TODO: Delete the glass surface
  @extend .PFilters, .GlassSurface-01;

}